/* Who We Are */
.who-are-we {}

.who-are-we .row {}

.who-are-we h1,
.who-are-we h3,
.who-are-we a {
    text-transform: uppercase !important;
}

.whoAreWe-left p {
    font-size: 1.5rem !important;
}

.whoAreWe-left a {
    background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
    border: none !important;
    padding: .5rem !important;
    padding-left: 1.4rem !important;
    padding-right: 1.4rem !important;
    border-radius: 2rem !important;
    color: #fff !important;
    text-decoration: none;
    display: inline-block;
}

.whoAreWe-right {
    position: absolute;
    top: 0 !important;
    right: 0;
    padding-right: 0px !important;
}

/* Who We Are */


/* Oue Service */
.our-service {
    height: 100vh;
    background-image: url('../asset/Group\ 21983@2x.png');
    background-position: center left;
    background-size: 40% 100%;
    background-repeat: no-repeat;
}

.our-service h1 {
    border-bottom: 2px dotted #333;
    border-color: blueviolet;
    display: inline-block;
}

.single-service {
    background-color: #fff !important;
    border: 1px solid #333;
    border-radius: 1.5rem;
    min-height: 25vw !important;
    position: relative;
}

.single-service-button {
    position: absolute;
    bottom: 5% !important;
}

.swiper-wrapper {
    padding-top: 5% !important;
}

.service .swiper-slide {
    transition: 1s all;
    padding-top: 6% !important;
}

.service .swiper-slide:hover {
    transform: scale(1.06);
}

.single-service h5 {
    border-bottom: 1px dotted blueviolet;
}

.single-service a {
    background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
    border: none !important;
    padding: .5rem !important;
    padding-left: 1.4rem !important;
    padding-right: 1.4rem !important;
    border-radius: 2rem !important;
    color: #fff !important;
    text-decoration: none;
}

/* Oue Service */

/* Book Appointment */
.book-appointment {}

.book-appointment .appointment-left {
    position: absolute;
    left: -3.5rem !important;
    padding-left: 0 !important;
}

.book-appointment .appointment-right {}

.book-appointment .appointment-right h6,
.book-appointment .appointment-right p,
.book-appointment .appointment-right label {
    color: #666 !important;
}

.book-appointment .appointment-right .form-control {
    background-color: #E5E8F4 !important;
    border-radius: .5rem !important;
    padding-left: 1.5rem !important;
    padding-top: .5rem !important;
    padding-bottom: .5rem !important;
    border: .1rem solid #555 !important;
}

.book-appointment .appointment-right label {
    text-align: left !important;
}

.book-appointment .appointment-right button {
    background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
    border: none !important;
    padding: 1rem !important;
    padding-left: 2.5rem !important;
    padding-right: 2.5rem !important;
    border-radius: 2rem !important;
    color: #fff !important;
    font-size: large;
    margin-top: 1rem !important;
}

.book-appointment .appointment-right button:focus .book-appointment .appointment-right button:active {
    box-shadow: none !important;
    border: none !important;
    outline: none !important;
}

.book-appointment .appointment-right .form-control:active,
.book-appointment .appointment-right .form-control:focus {
    /* outline: none !important;
    border: 0px !important; */
    box-shadow: none !important;
}

.book-appointment .appointment-right {}

.book-appointment {}

.book-appointment {}

/* Book Appointment */



/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 320px) {

    /* Who We Are */
    .whoAreWe-right {
        top: 18vw !important;
    }

    .whoAreWe-right img {
        width: 70% !important;
        position: absolute;
        right: 0 !important;
    }

    .whoAreWe-left {
        margin-top: 70vw !important;
    }

    .whoAreWe-left h1 {
        font-size: 5vw !important;
    }

    .whoAreWe-left p {
        font-size: 3vw !important;
        margin-bottom: 0 !important;
    }

    .whoAreWe-left h3 {
        font-size: 4vw !important;
        margin-top: 2vw !important;
    }

    .whoAreWe-left a {
        font-size: 2.5vw !important;
        margin-top: 2vw !important;
        margin-bottom: 2vw !important;
    }

    /* Who We Are */

    /* Oue Service */
    .our-service {
        height: auto;
        background-position: top left;
        background-size: 65% 60vh;
        margin-top: 18vw !important;
    }

    .our-service p {}

    .our-service h1 {
        padding-top: 0% !important;
        margin-bottom: 40% !important;
        margin-top: -15% !important;
        font-size: 1.2rem !important;
    }

    .single-service {
        margin-bottom: 15% !important;
        padding-top: 5% !important;
        padding: 10% !important;
        padding-left: 8% !important;
        padding-right: 8% !important;
        height: 18rem !important;
    }

    .single-service a {
        font-size: 90% !important;
    }

    .single-service h5 {
        font-size: 100% !important;
    }

    .single-service p {
        font-size: 90% !important;
    }

    /* .service>div:hover {
        transform: scale(1.1);
    } */

    .service {
        padding-left: 20% !important;
        padding-right: 20% !important;
    }

    .swiper-pagination {
        bottom: 0 !important;
    }

    /* Oue Service */


    /* Book Appointment */
    .book-appointment {
        margin-top: 4vw !important;
    }

    .book-appointment .appointment-right {
        margin-top: 90vw !important;
    }

    .book-appointment .appointment-right button {
        padding: .5rem !important;
        padding-left: 2rem !important;
        padding-right: 2rem !important;
        font-size: small;
    }

    /* Book Appointment */
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 500px) {

    .whoAreWe-right {
        top: 18vw !important;
    }

    .whoAreWe-right img {
        width: 40vw !important;
        height: 45vw !important;
    }

    .whoAreWe-left {
        margin-top: 10vw !important;
    }

    .whoAreWe-left h1 {
        font-size: 3.5vw !important;
    }

    .whoAreWe-left p {
        font-size: 2.3vw !important;
        margin-bottom: 0 !important;
    }

    .whoAreWe-left h3 {
        font-size: 2.5vw !important;
        margin-top: 2vw !important;
    }

    .whoAreWe-left a {
        font-size: 2.2vw !important;
        margin-top: 2vw !important;
        margin-bottom: 2vw !important;
    }

    /* Oue Service */
    .our-service {
        background-size: 65% 65vh;
        /* margin-top: 28vw !important; */
    }

    .our-service h1 {
        text-align: center !important;
        font-size: 1.8rem !important;
        margin-top: -10% !important;
        margin-bottom: 30% !important;
    }

    .service {
        padding-left: 0% !important;
        padding-right: 0% !important;
    }

    .single-service {
        height: 20rem !important;
    }

    .single-service h5 {
        font-size: 120% !important;
    }

    .single-service p {
        font-size: 95% !important;
    }

    /* Oue Service */

    .appointment-right {
        padding-left: 8vw !important;
        padding-right: 8vw !important;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .whoAreWe-right {
        top: 18vw !important;
    }

    .whoAreWe-right img {
        width: 80% !important;
        height: 50vw !important;
    }

    .whoAreWe-left {
        margin-top: 10vw !important;
    }

    .whoAreWe-left h1 {
        font-size: 3.5vw !important;
    }

    .whoAreWe-left p {
        font-size: 2.3vw !important;
        margin-bottom: 0 !important;
    }

    .whoAreWe-left h3 {
        font-size: 2.5vw !important;
        margin-top: 2vw !important;
    }

    .whoAreWe-left a {
        font-size: 2.2vw !important;
        margin-top: 2vw !important;
        margin-bottom: 2vw !important;
    }

    /* Oue Service */
    .our-service {
        background-size: 55% 65vh;
        /* margin-top: 15vw !important; */
        margin-bottom: 10vw !important;
    }

    .our-service h1 {
        margin-top: 0% !important;
        margin-bottom: 20% !important;
    }

    .single-service p {
        font-size: 100% !important;
    }

    /* Oue Service */

    .book-appointment .appointment-right {
        padding-left: 2vw !important;
        padding-right: 2vw !important;
        margin-top: 0 !important;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .whoAreWe-right img {
        width: 100% !important;
        height: auto !important;
    }

    .whoAreWe-right {
        top: 0px !important;
    }

    .whoAreWe-left {
        margin-top: 7vh !important;
        margin-bottom: 20vh;
    }

    .who-are-we h1 {
        font-size: 200% !important;
    }

    .who-are-we h3 {
        font-size: 140% !important;
    }

    .who-are-we h1,
    .who-are-we h3,
    .who-are-we button {
        text-transform: uppercase !important;
    }

    .whoAreWe-left p {
        font-size: 120% !important;
    }

    .whoAreWe-left a {
        background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
        border: none !important;
        padding: .5rem !important;
        padding-left: 1.4rem !important;
        padding-right: 1.4rem !important;
        border-radius: 2rem !important;
        color: #fff !important;
        font-size: 1.8vw !important;
    }

    /* Oue Service */
    .our-service {
        background-size: 45% 75vh;
        /* margin-top: 0vw !important; */
    }

    .our-service h1 {
        margin-bottom: 8% !important;
        font-size: 2rem !important;
    }

    .our-service-title {
        font-size: 200% !important;
        margin-top: 0vh !important;
        margin-bottom: 0vh !important;
    }

    /* Oue Service */

    .book-appointment .appointment-right .form-control {
        padding-top: .3rem !important;
        padding-bottom: .3rem !important;
    }

    .book-appointment .appointment-right button {
        padding: .5rem !important;
        padding-left: 2rem !important;
        padding-right: 2rem !important;
        font-size: medium;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .whoAreWe-left {
        margin-top: 15vh !important;
        margin-bottom: 35vh !important;
    }

    .who-are-we h1 {
        font-size: 250% !important;
    }

    .who-are-we h3 {
        font-size: 180% !important;
    }

    .who-are-we h1,
    .who-are-we h3,
    .who-are-we button {
        text-transform: uppercase !important;
    }

    .whoAreWe-left p {
        font-size: 1.5rem !important;
    }

    .whoAreWe-left a {
        background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
        border: none !important;
        padding: .5rem !important;
        padding-left: 2rem !important;
        padding-right: 2rem !important;
        border-radius: 2rem !important;
        color: #fff !important;
        font-size: 1.5vw !important;
    }

    /* Oue Service */
    .our-service {
        margin-bottom: 15vh !important;
        /* margin-top: 0% !important; */
        background-size: 45% 85vh;
        padding-bottom: 5% !important;
    }

    .our-service-title {
        font-size: 250% !important;
    }

    /* Oue Service */

    .book-appointment .appointment-right .form-control {
        padding-top: .5rem !important;
        padding-bottom: .5rem !important;
    }

    .book-appointment .appointment-right button {
        padding: 1rem !important;
        padding-left: 2.5rem !important;
        padding-right: 2.5rem !important;
        font-size: large;
    }

}



/* Extra large devices (large laptops and desktops, 1500px and up) */
@media only screen and (min-width: 1500px) {

    /* Oue Service */
    .our-service {
        /* margin-top: 8% !important; */
    }

    /* Oue Service */

}





@media only screen and (min-width: 500px) {
    .our-service {
        margin-top: 25vw !important;
    }
}

@media only screen and (min-width: 600px) {
    .our-service {
        margin-top: 28vw !important;
    }
}

@media only screen and (min-width: 768px) {
    .our-service {
        margin-top: 15vw !important;
    }
}

@media only screen and (min-width: 992px) {
    .our-service {
        margin-top: 4vw !important;
    }
}

@media only screen and (min-width: 1050px) {
    .our-service {
        margin-top: 4vw !important;
    }
}

@media only screen and (min-width: 1100px) {
    .our-service {
        margin-top: 6vw !important;
    }
}

@media only screen and (min-width: 1150px) {
    .our-service {
        margin-top: 8vw !important;
    }
}

@media only screen and (min-width: 1200px) {
    .our-service {
        margin-top: -6vw !important;
    }
}

@media only screen and (min-width: 1250px) {
    .our-service {
        margin-top: -2vw !important;
    }
}

@media only screen and (min-width: 1300px) {
    .our-service {
        margin-top: 0vw !important;
    }
}

@media only screen and (min-width: 1350px) {
    .our-service {
        margin-top: 2vw !important;
    }
}

@media only screen and (min-width: 1400px) {
    .our-service {
        margin-top: 0vw !important;
    }
}

@media only screen and (min-width: 1800px) {
    .our-service {
        margin-top: 5vw !important;
    }
}
