ul {
	margin-bottom: 0 !important;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

/* NAVBAR STYLING STARTS */
.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 0px;
	color: #fff;
}

.nav-links a {
	color: #fff;
}

.nav-links {
	/* margin-bottom: 0px !important;
	padding-left: 0px !important; */
}

/* LOGO */
.logo {
	font-size: 32px;
}

/* NAVBAR MENU */
.menu {
	display: flex;
	/* gap: 1em; */
	font-size: 18px;
}

.menu li:hover {
	transition: 0.3s ease;
}

.menu li {}

/* DROPDOWN MENU */
.services {
	position: relative;
}

.dropdown {
	background-color: #93b8f5;
	padding: 0;
	position: absolute;
	display: none;
	border-radius: 8px;
	top: 1.6rem;
	width: 10rem;
	padding-top: 1rem !important;
	padding-bottom: 1rem !important;
}

.dropdown li {
	margin-top: 0px;
	padding-bottom: .5rem;
	padding-top: .5rem;
	padding-left: 0;
	text-align: left;
}

.dropdown li a {
	color: #fff !important;
	padding-bottom: 1rem;
	padding-top: 1rem;
	padding-left: 1rem;
}

.dropdown li:hover {
	background-color: #999;
}

.services:hover .dropdown {
	display: block;
}

/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox] {
	display: none;
}

/*HAMBURGER MENU*/
.hamburger {
	display: none;
	font-size: 24px;
	user-select: none;
	color: #333 !important;
}

.navbar ul li:after {
	/* content: '';
	display: block;
	margin: auto;
	height: 1px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease; */
}

.navbar ul .active:after,
.navbar ul li:hover:after {
	/* width: 100%; */
	/* background: #fff; */
}

.navbar ul .dropdown li:hover:after {
	/* width: 0px; */
	/* background: #fff; */
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
	.menu {
		display: none;
		position: absolute;
		background-color: #93b8f5;
		right: 0;
		left: 0;
		text-align: left;
		padding: 16px 20px;
		top: 100% !important;
		border-top: 1px solid #777;
		height: 30rem !important;
	}

	.menu li:hover {
		display: inline-block;
		background-color: #93b8f5;
		transition: 0.3s ease;
	}

	.menu li+li {
		margin-top: 12px;
	}

	.dropdown li+li {
		margin-top: 0px;
	}

	input[type=checkbox]:checked~.menu {
		display: block;
	}

	.hamburger {
		display: block;
	}

	.dropdown {
		left: 0%;
		top: 100%;
		/* transform: translateX(35%); */
		border: 1px solid #fff;
	}

	.dropdown li:hover {
		background-color: #93b8f5;
	}

	.menu li:hover .dropdown,
	.menu li:hover .dropdown li {
		background-color: #fff !important;
	}

	.menu li:hover .dropdown li a {
		color: #333 !important;
	}

	.menu li .dropdown li:hover a {
		color: #93b8f5 !important;
	}
}