/* Self */
.self {
    margin-bottom: 20% !important;
}

.self h1 {
    border-bottom: 2px dotted #87ACD2 !important;
    display: inline !important;
}

.self p {
    margin-top: 10% !important;
    font-size: 120% !important;
    font-weight: 500;
}

.self-right {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 0px !important;
}

.self-left {
    margin-top: 4% !important;
}

/* Self */



/* Service We offer */
.service-we-offer {
    margin-bottom: 20vh !important;
}

.service-we-offer-left {}

.service-we-offer-left .list-group {}

.service-we-offer-left .list-group li img {
    width: 1.5rem !important;
    height: 1.5rem !important;
    margin-right: 1rem !important;
    margin-top: 1.4% !important;
}

.service-we-offer-left .list-group li {
    border: none !important;
    font-size: 1.6rem !important;
    margin-bottom: 1.2rem !important;
    color: #000 !important;
}

.service-we-offer-right {
    background-size: cover;
    height: 120vh !important;
    position: relative;
}

.service-we-offer-right img {
    height: 100% !important;
}

.offer-form {
    width: 75% !important;
    position: absolute !important;
    top: 40vh !important;
}

.service-we-offer-right label {
    color: #666 !important;
}

.service-we-offer-right .form-control {
    background-color: #fff !important;
    border-radius: 5rem !important;
    padding-left: 1.5rem !important;
    padding-top: .7rem !important;
    padding-bottom: .7rem !important;
    border: .1rem solid #555 !important;
}

.service-we-offer-right label {
    text-align: left !important;
}

.service-we-offer-right button {
    background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
    border: none !important;
    padding: .4rem !important;
    padding-left: 2.5rem !important;
    padding-right: 2.5rem !important;
    border-radius: 2rem !important;
    color: #fff !important;
    font-size: large;
}

.service-we-offer-right button:focus .service-we-offer-right button:active {
    box-shadow: none !important;
    border: none !important;
    outline: none !important;
}

.service-we-offer-right .form-control:active,
.service-we-offer-right .form-control:focus {
    box-shadow: none !important;
}

/* Service We offer */





/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 320px) {

    /* CIS Return */
    .self-right {
        top: 18vw !important;
    }

    .self-right img {
        width: 70% !important;
        position: absolute;
        right: 0 !important;
    }

    .self-left {
        margin-top: 70vw !important;
    }

    .self-left h2 {
        font-size: 125% !important;
    }

    .self-left p {
        font-size: 95% !important;
    }

    /* CIS Return */

    /* Service We Offer */
    .service-we-offer {}

    .service-we-offer-left {}

    .service-we-offer h1 {
        font-size: 140% !important;
    }

    .service-we-offer-left .list-group li {
        font-size: 1rem !important;
        margin-bottom: 0rem !important;
    }

    .service-we-offer-left .list-group li img {
        width: 1.2rem !important;
        height: 1.2rem !important;
        margin-top: 2% !important;
    }

    .service-we-offer-right {
        height: 35rem !important;
        margin-top: 3rem !important;
    }

    .service-we-offer-right img {
        height: 100% !important;
    }

    .offer-form {
        top: 13rem !important;
        width: 15rem !important;
    }

    .service-we-offer-right .form-control {
        padding-left: 1.5rem !important;
        padding-top: .3rem !important;
        padding-bottom: .3rem !important;
    }

    .service-we-offer-right button {
        padding: .3rem !important;
        padding-left: 2rem !important;
        padding-right: 2rem !important;
        font-size: medium;
    }

    /* Service We Offer */

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 500px) {

    /* CIS Return */
    .self {
        margin-bottom: 12% !important;
    }

    .self-left h2 {
        font-size: 160% !important;
    }

    .self-left p {
        font-size: 110% !important;
    }

    /* CIS Return */

    /* Service We Offer */
    .service-we-offer {}

    .service-we-offer-left {}

    .service-we-offer h1 {
        font-size: 180% !important;
        margin-bottom: 5% !important;
    }

    .service-we-offer-left .list-group li {
        font-size: 1.2rem !important;
    }

    /* Service We Offer */

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    /* CIS Return */
    .self {
        margin-bottom: 10% !important;
        margin-top: 0px !important;
    }

    .self-right img {
        width: 80% !important;
    }

    .self-left {
        margin-top: 8vw !important;
    }

    .self-left h2 {
        font-size: 180% !important;
    }

    .self-left p {
        font-size: 110% !important;
    }

    /* CIS Return */

    /* Service We Offer */
    .service-we-offer h1 {
        margin-bottom: 4rem !important;
        font-size: 200% !important;
    }

    .service-we-offer-left .list-group li {
        font-size: 1.4rem !important;
        margin-bottom: 1rem !important;
    }

    .service-we-offer-left .list-group li img {
        width: 1.4rem !important;
        height: 1.4rem !important;
        margin-top: 1.6% !important;
    }

    .service-we-offer-right {
        height: 35rem !important;
        margin-top: 0rem !important;
    }

    .offer-form {
        width: 15rem !important;
    }

    /* Service We Offer */

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    /* CIS Return */
    .self {
        margin-bottom: 15% !important;
    }

    .self-right {
        top: 0vw !important;
    }

    .self-right img {
        width: 100% !important;
    }

    .self-left {
        margin-top: 7vh !important;
    }

    .self-left p {
        font-size: 120% !important;
    }

    /* CIS Return */

    /* Service We Offer */
    .service-we-offer-left .list-group li {
        font-size: 1.5rem !important;
    }

    .offer-form {
        top: 13rem !important;
        width: 15rem !important;
    }

    .service-we-offer-right .form-control {
        padding-left: 1.5rem !important;
        padding-top: .3rem !important;
        padding-bottom: .3rem !important;
    }

    .service-we-offer-right button {
        padding: .3rem !important;
        padding-left: 2rem !important;
        padding-right: 2rem !important;
        font-size: medium;
    }

    /* Service We Offer */

}




/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    .service-we-offer {
        margin-top: 25vw !important;
    }

}



/* Extra large devices (large laptops and desktops, 1500px and up) */
@media only screen and (min-width: 1500px) {

    .service-we-offer {
        margin-top: 30vw !important;
    }

    .service-we-offer-right {
        height: 40rem !important;
    }

    .offer-form {
        top: 16rem !important;
        width: 15rem !important;
    }

}





/* Extra large devices (large laptops and desktops, 1800px and up) */
@media only screen and (min-width: 1800px) {

    .contact-us {
        /* margin-top: 12vw !important; */
    }

    .service-we-offer {
        margin-top: 35vw !important;
    }

}