body {
    min-height: 100vh;
}

/* Header */
/* Header */


/* Contact Us */

.contact-us-right {
    position: absolute;
    right: 0;
    padding-right: 0px !important;
    margin-bottom: 25vh !important;
}

.contact-us .nav {}

.contact-us .nav li {
    border: 2px solid #0d6efd !important;
    border-radius: 50% !important;
    width: 4rem !important;
    height: 4rem !important;
    padding-top: .4rem !important;
    margin-right: 1.5rem !important;
}

.contact-us .nav li a {}

.contact-us .nav li a i {
    /* border: 2px solid #0d6efd !important; */
    /* padding: .5rem !important; */
    /* border-radius: 50% !important; */
    /* width: 4rem !important; */
    /* height: 4rem !important; */
    /* margin: auto !important; */
}

/* .contact-us-right{
    position: absolute;
    right: 0;
    padding-right: 0 !important;
}

.contact-us-right img{
    height: 50vh !important;
} */
/* Contact Us */


/* Footer */
.footer {
    background-color: #EAEDF6 !important;
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}

.footer img {
    width: 30% !important;
}

.footer .row .col-md-6 p {
    margin-bottom: 1rem !important;
}

.footer .nav {}

.footer .nav li {
    /* border-right: 1.2rme !important; */
}

.footer .nav li a {
    color: #333 !important;
    padding: 0px !important;
    border-right: 2px solid #333 !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.footer .nav li a:last-child {
    border-right: 0px !important;
}

/* Footer */



/* Extra small devices (phones, 320px and down) */
@media only screen and (min-width: 320px) {

    .navbar-collapse {
        background-color: steelblue;
    }

    .dropdown-menu {
        background-color: steelblue;
        border: none;
    }

    .navbar {
        z-index: 99999999999999999;
    }

    .navbar .logo {
        width: 40% !important;
    }

    .navbar .logo img {
        width: 100% !important;
    }

    /* .navbar ul li a {
        padding: 0px !important;
        color: #000 !important;
    }

    .navbar ul li .dropdown-menu {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    } */

    .footer-right {
        display: flex !important;
        flex-direction: column;
        align-items: center !important;
        margin-top: 5% !important;
    }

    .footer-left p {
        text-align: center !important;
    }

    .footer {
        font-size: 75% !important;
    }

    .footer .nav li a {
        padding-left: .4rem !important;
        padding-right: .4rem !important;
    }

    /* Contact Us */
    .contact-us {
        margin-top: 20% !important;
        margin-bottom: 10% !important;
    }

    .contact-us-left {
        margin-top: 90% !important;
        display: flex;
        justify-content: center !important;
    }

    .contact-us-left ul {
        display: flex;
        justify-content: space-between !important;
    }

    .contact-us .nav li {
        width: 3rem !important;
        height: 3rem !important;
        padding-top: .1rem !important;
        margin-right: 1rem !important;
    }

    .contact-us .nav li:last-child {
        margin-right: 0rem !important;
    }

    .contact-us .nav li i {
        font-size: 150% !important;
    }

    /* Contact Us */
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 500px) {

    /* .navbar-collapse {
        background-color: transparent;
    }

    .dropdown-menu {
        background-color: #fff;
        border: 1px solid #333;
    } */

    .navbar .logo {
        width: 45% !important;
    }

    .navbar .logo img {
        /* width: 40% !important; */
    }

    /* Contact Us */
    .contact-us {
        margin-top: 10% !important;
        margin-bottom: 10% !important;
    }

    .contact-us-right img {
        width: 80% !important;
        position: absolute;
        right: 0 !important;
    }

    .contact-us-left {
        margin-top: 75vw !important;
        display: flex;
        justify-content: center !important;
    }

    .contact-us-left ul {
        display: flex;
        justify-content: space-between !important;
    }

    .contact-us .nav li {
        width: 3rem !important;
        height: 3rem !important;
        padding-top: .1rem !important;
        margin-right: 1rem !important;
    }

    .contact-us .nav li:last-child {
        margin-right: 0rem !important;
    }

    .contact-us .nav li i {
        font-size: 150% !important;
    }

    /* Contact Us */

    .footer {
        /* margin-top: 30% !important; */
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    /* .header {
        height: 12vw !important;
    }
    */

    .navbar .logo {
        width: 30% !important;
    }

    .navbar .logo img {
        /* width: 40% !important; */
    }

    .contact-us-right img {
        width: 100% !important;
    }

    .footer-right {
        justify-content: end !important;
        margin-top: 0% !important;
    }

    .footer .nav li a {
        padding-left: .5rem !important;
        padding-right: .5rem !important;
    }

    .footer-left p {
        text-align: left !important;
    }

    .footer {
        font-size: 85% !important;
    }

    .contact-us {
        margin-top: 10% !important;
        margin-bottom: 25% !important;
    }

    .contact-us-left {
        margin-top: 20% !important;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .navbar .logo {
        width: 40% !important;
    }

    .navbar .logo img {
        width: 90% !important;
    }

    /* .navbar ul li {
        margin-left: 2rem !important;
    }

    .navbar ul li a {
        padding: 0px !important;
        color: #fff !important;
    }

    .navbar ul li .dropdown-menu {
        padding-top: 2% !important;
        padding-bottom: 2% !important;
    }

    .header ul li {
        margin-left: 2rem !important;
    } */

    .contact-us {
        margin-top: 10% !important;
    }

    .contact-us-left {
        /* margin-top: 20% !important; */
    }

    .contact-us .nav li {
        border: 2px solid #0d6efd !important;
        border-radius: 50% !important;
        width: 4rem !important;
        height: 4rem !important;
        padding-top: .4rem !important;
        margin-right: 1.5rem !important;
    }

    .contact-us .nav li i {
        font-size: 200% !important;
    }

    .footer {
        padding-top: 1.2rem !important;
        padding-bottom: 1.2rem !important;
    }

    .footer .nav li a {
        padding-left: .8rem !important;
        padding-right: .8rem !important;
    }

    .footer {
        font-size: 100% !important;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    .navbar .logo {
        /* width: 32% !important; */
    }

    .navbar .logo img {
        width: 70% !important;
    }

    /* .navbar ul li {
        margin-left: 3rem !important;
        transition: 1s all;
    }

    .header ul li {
        margin-left: 3rem !important;
    } */

    .footer {
        padding-top: 2rem !important;
        padding-bottom: 2rem !important;
    }

    .footer img {
        width: 25% !important;
    }
}





/* Extra large devices (large laptops and desktops, 1500px and up) */
@media only screen and (min-width: 1500px) {

    /* .header ul li .dropdown-menu li a {
        padding: 8% !important;
    }

    .header ul li {
        margin-left: 5rem !important;
    } */

    .navbar .logo img {
        width: 60% !important;
    }

    .contact-us {
        margin-top: 10% !important;
        margin-bottom: 30% !important;
    }
}





/* Extra large devices (large laptops and desktops, 1800px and up) */
@media only screen and (min-width: 1800px) {

    .contact-us {
        margin-top: 14% !important;
    }
}